<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sshExample</display-name>
  
     <!-- 解决中文乱码start -->
        <filter>
         <filter-name>struts-prepare</filter-name>
         <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
     </filter>
  <filter-mapping>
         <filter-name>struts-prepare</filter-name>
         <url-pattern>/*</url-pattern>
     </filter-mapping>
    
     <filter>
         <filter-name>struts-execute</filter-name>
         <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
     </filter>
     <filter-mapping>
         <filter-name>struts-execute</filter-name>
         <url-pattern>/*</url-pattern>
     </filter-mapping>
      <!-- 解决中文乱码end -->
      
      <!-- 配置struts2的过滤器 -->
  	<filter>
    	<filter-name>struts2</filter-name>
    	<filter-class>
        	org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter            
    	</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>struts2</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
<welcome-file-list>
 <welcome-file>login.jsp</welcome-file>
</welcome-file-list>
        
</web-app>